h5 {
  font-family: "Helvetica Neue", Helvetica;
  text-align: center;
}

p {
  font-size: 14px;
}

footer {
  text-align: right;
}

.a {
  margin-top: -1.5%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.education {
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 3%;
}

.professionalExp {
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 1%;
}

.project {
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 3%;
}

.awardsAndLeadership {
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 3%;
}

.skills {
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 3%;
}

.info {
  margin-left: 4%;
}

.bullet {
  margin-left: 1%;
}

.url {
  margin-left: 8%;
}

.below {
  margin-top: 0%;
  margin-bottom: -1%;
}

.bold {
  font-weight: bold; 
}

.italic {
  font-style: italic;
}

.tab {
  text-align: right;
  margin-left: 20%;
}